@import "../../common.scss";

.NameAndBirthdate {
  //   > div {
  //     display: grid;
  //     grid-template-columns: 1fr 1fr;
  //     margin-bottom: 20px;
  //     column-gap: 20px;
  //     > p {
  //       flex: 1;
  //     }
  //   }
  form {
    @include mobile {
      width: 100%;
      margin: 0 auto;

      > div {
        width: fit-content;
        margin: auto;
      }
    }
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include mobile {
    grid-template-columns: 1fr;
  }
  p {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 10px;
    }
    input {
      width: 250px;
      border: solid 1px #00000043;
      border-radius: 5px;
      color: $blue;
      padding: 7px 14px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  form:last-child {
    border-left: solid 1px #00000043;
    padding-left: 20px;
    @include mobile {
      border-left: none;
      padding-left: 0;
      border-top: solid 1px #00000043;
      padding-top: 30px;
      margin-top: 30px;
    }
  }
  button {
    width: max-content;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    border: solid 2px $blue;
    background-color: $blue;
    border-radius: 5px;
    color: $white;
    padding: 7px 14px;
    text-align: left;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: transparent;
      color: $blue;
    }
  }
}
