@import "../../common.scss";

.inputContainer {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 10px;
  }
  input {
    box-sizing: border-box;
    width: 100%;
    border: solid 1px #00000043;
    border-radius: 5px;
    color: $blue;
    padding: 7px 14px;
  }

  &.file {
    label {
      margin: 0;
    }
    input {
      display: none;
    }
  }
}
