@import "../../common.scss";

.TypeIcon {
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 1px $white;
  svg {
    display: block;
    height: 70% !important;
    width: 70% !important;
  }
  &.insecte {
    background: #92bc2c;
    // box-shadow: 0 0 20px #92bc2c;
  }

  &.sombre {
    background: #595761;
    // box-shadow: 0 0 20px #595761;
  }

  &.dragon {
    background: #0c69c8;
    // box-shadow: 0 0 20px #0c69c8;
  }

  &.electrik {
    background: #f2d94e;
    // box-shadow: 0 0 20px #f2d94e;
  }

  &.feu {
    background: #fba54c;
    // box-shadow: 0 0 20px #fba54c;
  }

  &.fee {
    background: #ee90e6;
    // box-shadow: 0 0 20px #ee90e6;
  }

  &.combat {
    background: #d3425f;
    // box-shadow: 0 0 20px #d3425f;
  }

  &.vol {
    background: #a1bbec;
    // box-shadow: 0 0 20px #a1bbec;
  }

  &.spectre {
    background: #5f6dbc;
    // box-shadow: 0 0 20px #5f6dbc;
  }

  &.plante {
    background: #5fbd58;
    // box-shadow: 0 0 20px #5fbd58;
  }

  &.sol {
    background: #da7c4d;
    // box-shadow: 0 0 20px #da7c4d;
  }

  &.glace {
    background: #75d0c1;
    //box-shadow: 0 0 20px #75d0c1;
  }

  &.normal {
    background: #a0a29f;
    //box-shadow: 0 0 20px #a0a29f;
  }

  &.poison {
    background: #b763cf;
    //box-shadow: 0 0 20px #b763cf;
  }

  &.psy {
    background: #fa8581;
    //box-shadow: 0 0 20px #fa8581;
  }

  &.roche {
    background: #c9bb8a;
    //box-shadow: 0 0 20px #c9bb8a;
  }

  &.acier {
    background: #5695a3;
    //box-shadow: 0 0 20px #5695a3;
  }

  &.eau {
    background: #539ddf;
    //box-shadow: 0 0 20px #539ddf;
  }
}
