@import "../../common.scss";

.popupfull {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);

  //   .blur {
  //     background-color: rgba(0, 0, 0, 0.2);
  //     filter: blur(2px);
  //   }
  .popupContainer {
    background-color: white;
    border-radius: 10px;
    // filter: blur(0);
    padding: 40px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    i {
      position: absolute;
      top: 0px;
      right: 0px;
      cursor: pointer;
      color: $blue;
    }
    .popupContent {
    }
  }

  // .blur {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   z-index: -1;
  //   background-color: rgba(0, 0, 0, 0.2);
  //   backdrop-filter: blur(0px);
  // }

  &.open {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
  }
}
