@import "../../../../common.scss";

.PokeType {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
	grid-gap: 20px;
	.base {
		border-radius: 20px;
		padding: 20px;
		display: flex;
		cursor: pointer;
		flex-direction: column;
		transition: all 0.5s ease;
		border: solid 2px rgb(226, 228, 255);
		box-shadow: 0 0 5px 5px rgba(173, 156, 250, 0.07);
		&.active {
			border: solid 2px $blue;
		}
		.type {
			display: flex;
			align-items: flex-end;
			margin-bottom: 12px;
			height: 40px;
			.title {
				font-family: $fontCard;
				text-transform: capitalize;
				font-size: 23px;
				margin-left: 12px;
			}
		}
	}
}
